{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load jalali_tags %}



{% block title %}داشبورد{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4">

                {% if current_user.avatar %}
                    <img src="{{ current_user.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle" style="margin-bottom: 20px; width: 190px; height: 190px; border-radius: 50%; object-fit: cover; object-position: center;">
                {% else %}
                    <img src="/static/images/home/product.jpg" alt="Avatar" class="img-fluid rounded-circle" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; object-position: center;">
                {% endif %}

                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>

            <div class="col-md-8">
                <p>{{ current_user.get_full_name }}</p>
                <p>{{ current_user.email }}</p>
                <p>تاریخ پیوستن: {{ current_user.date_joined|to_jalali_fa  }}</p>
                <p>{{ current_user.about_user }}</p>
            </div>
        </div>
    </div>
{% endblock %}