{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load jalali_tags %}
{% load poll_extras %}

{% block title %}سوابق خرید من{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                {% if request.user.avatar.url %}
                    <img src="{{ request.user.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle"
                         style="margin-bottom: 20px; width: 190px; height: 190px; border-radius: 50%; object-fit: cover; object-position: center;">
                {% else %}
                    <img src="/static/images/home/product.jpg" alt="Avatar" class="img-fluid rounded-circle"
                         style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; object-position: center;">
                {% endif %}

                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}

            </div>

            <div class="col-md-8">

                {% if orders %}
                    <table class="table table-responsive table-hover table-striped">
                        <tr>
                            <th class="text-right">شناسه</th>
                            <th class="text-right">تاریخ تایید فاکتور</th>
                            <th class="text-right">قیمت نهایی خرید</th>
                            <th class="text-right">دستورات</th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <td class="text-right">{{ order.id }}</td>
                                <td class="text-right">{{ order.payment_date|to_jalali }}</td>
                                <td class="text-right">{{ order.calculate_total_price|three_digits_currency }}</td>
                                <td class="text-right">
                                    <a href="{% url 'user_shopping_detail_page' order_id=order.id %}" class="btn btn-success"> جزئیات </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-warning">
                                    <p> هیچ سابقه خریدی موجود نمیباشد</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
{% endblock %}