.errorlist {
    padding-right: 0 ; !important;
}

.errorlist li {
    color: red;
}

ul{
    padding-right : 0;
}

.banner_size {
    width: 270px;
    margin-bottom: 10px
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.cursor-pointer{
    cursor : pointer;
}


#reviews .col-sm-12 {
    margin-bottom: 20px; /* فاصله بین هر کامنت */
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; /* (اختیاری) خط جداکننده بین کامنت‌ها */
}
