{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load poll_extras %}




{% block title %}
    {{ product.title }}
{% endblock %}




{% block header_references %}
    <link rel="stylesheet" href="/static/lib/image-lightbox/css/lightbox.min.css">
{% endblock %}



{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->


                        <div class="col-sm-5">
                            <div class="view-product">
                                {% if product.image %}
                                    {% thumbnail product.image "330x380" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="{{ product.title }}" id="main_image">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/images/product-details/1.jpg" alt="No image available"
                                         id="main_image">
                                {% endif %}
                                <h3>
                                    <a style="color: white" id="show_large_image_modal" href="{{ product.image.url }}"
                                       data-lightbox="product-image">
                                        بزرگنمایـی
                                    </a>
                                </h3>
                            </div>

                            {% if product_galleries_group %}
                                <div id="similar-product" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" style="height: 10rem">

                                        {% for group in product_galleries_group %}
                                            <div class="item {% if forloop.first %}active{% endif %}">
                                                {% for gallery in group %}
                                                    <a onclick="ShowLargeImage('{{ gallery.image.url }}')">
                                                        {% thumbnail gallery.image "85x85" as im %}
                                                            <img src="{{ im.url }}" alt="">
                                                        {% endthumbnail %}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}

                                    </div>


                                    <!-- Controls -->
                                    <a class="right item-control" href="#similar-product" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a class="left item-control" href="#similar-product" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </div>

                            {% endif %}
                        </div>


                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="/static/images/product-details/new.png" class="newarrival" alt="">
                                <div>
                                    <h2>{{ product.title }}</h2>
                                    <p>شناسـه : {{ product.id }}</p>
                                </div>
                                <div>
									<span>
										<span>قیمت : {{ product.price| three_digits_currency }} </span>
									</span>
                                    <span>
                                            <label>تعداد :</label>
                                            <input type="number" min="1" id="product_count" value="1"
                                                   class="search_box">
                                            <button onclick="addProductToOrder({{ product.id }})" class="btn btn-fefault cart">
											    <i class="fa fa-shopping-cart"></i>
                                                افزودن به سبد خرید
										    </button>
									</span>
                                </div>
                                <div>
                                    <p><b>موجـودی :</b>
                                        {% if product.is_active %}
                                            در انبـار موجود می باشد
                                        {% else %}
                                            نا موجود
                                        {% endif %}
                                    </p>
                                    <p>
                                        {% if product.brand.title %}
                                            <b>برنـد :</b> {{ product.brand.title }}
                                        {% endif %}
                                    </p>
                                </div>


                                <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="/static/images/product-details/Bale.png">
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="/static/images/product-details/Soroush.png">
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="/static/images/product-details/Instagram.png">
											</li>
										</a>
{#										<li><img src="/static/images/product-details/rating.png" alt=""></li>#}
									</ul>
								</span>

                            </div><!--/product-information-->
                        </div>


                    </div>

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12" id="comm">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab">جزئیات</a></li>
                                <li><a href="#reviews" data-toggle="tab">نظرات ({{ comments_count }})</a></li>
                            </ul>
                        </div>


                        <div class="tab-content">


                            {#  توضیحات محصول  #}
                            <div class="tab-pane fade active in" id="details">
                                <div class="row">
                                    <div class="col-md-12">
                                    {{ product.description | safe }}
                                </div>
                                </div>
                            </div>


                            {# نظرات محصول #}
                            <div class="tab-pane fade" id="reviews">
                                {% for comment in comments %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>{{ comment.user }}</a></li>
                                        <li><a href=""><i class="fa fa-clock-o"></i> {{ comment.get_time }} </a></li>
                                        <li><a href=""><i class="fa fa-calendar-o"></i>{{ comment.get_jalali_date }}</a></li>
                                    </ul>
                                    <p>{{ comment.text  }}</p>
                                    </div>
                                    </div>
                                {% endfor %}


                                {% if request.user.is_authenticated %}
                                    <p><b>نظـر خود را بنویسیـد</b></p>
                                	 <form action="{% url 'add_product_comment' %}" method='POST'>
                                         {% csrf_token %}
                                         {{ comment_form.as_p }}
                                         <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit"  class="btn btn-default pull-left">
                                            ارسـال
                                        </button>
                                    </form>

                                {% else %}
                                    <div class="alert alert-warning">
                                        برای درج نظر باید به حساب کابری خود <a href="{% url 'login_page' %}?next={{request.path}}">وارد شوید</a>
                                    </div>
                                {% endif %}

                            </div>


                        </div>


                    </div>

                    {% if related_products %}

                        <div class="recommended_items"><!--recommended_items-->
                            <h2 class="title text-center">محصولات مرتبط</h2>

                            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">


                                    {% for group in related_products %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            {% for product in group %}
                                                {% include 'include/product_item_partial.html' with product=product col_size=4 %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}

                                </div>

                                {% if related_products|length > 1 %}
                                    <a class="left recommended-item-control" href="#recommended-item-carousel"
                                       data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right recommended-item-control" href="#recommended-item-carousel"
                                       data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                {% endif %}

                            </div>

                        </div><!--/recommended_items-->

                    {% endif %}

                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">

                        {% render_partial 'product_module.views.product_categories_component' %}

                        {% render_partial 'product_module.views.product_brand_component' %}


                        <div class="shipping text-center"><!--shipping-->
                            {% for banner in banners %}
                                <a href="{{ banner.url }}">
                                    <img src="{{ banner.image.url }}" class="banner_size" alt="">
                                </a>
                            {% endfor %}
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}


{% block footer_references %}
    <script src="/static/lib/image-lightbox/js/lightbox.min.js"></script>
    <script src="/static/lib/image-lightbox/js/lightbox-plus-jquery.js"></script>
{% endblock %}